@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 4px;
    background-image: linear-gradient(45deg, red, blue, rgb(0, 0, 0));
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: black;
}

body {
    background-color: #fff;
    height: auto;
}

.haburger {
    display: none;
}

.app {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
}

.scrolltop {

    padding: 10px 7px;
    background-color: black;
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    border: 1px solid white;
}
